This study guide should reinforce and provide practice for all of the concepts you have seen in Unit 3 Sprint 3. There are a mix of written questions and coding exercises, both are equally important to prepare you for the sprint challenge as well as to be able to speak on these topics comfortably in interviews and on the job.

If you get stuck or are unsure of something remember the 20 minute rule. If that doesn't help, then research a solution with google and stackoverflow. Only once you have exausted these methods should you turn to your Team Lead - they won't be there on your SC or during an interview. That being said, don't hesitate to ask for help if you truly are stuck.

Have fun studying!

## Questions

When completing this section, try to limit your answers to 2-3 sentences max and use plain english as much as possible. It's very easy to hide incomplete knowledge and undertanding behind fancy or technical words, so imagine you are explaining these things to a non-technical interviewer.

1. What is Flask?
```
Flask is a python based framework for web applications. 
```

2. What is OpenAQ API?

```
It is a provisional data service that provides air quality for a multitude of locations. 
```

3. What is SQAlchemy
```
A python package for database integration that increases ease of use by eliminating need for mysql when running basic sql commands. 
```

4. What is the Standard coding conventions for the Python code?
```
PEP8? Should be memorize the standards?

```
5. What is Heroku?
```
Heroku is a host for web applications. 
```

### what to study

Flask App 
```
```
OpenAQ API
```
```
your code follows the Standard coding conventions for the Python code
```
```
SQAlchemy
```
```
Dashboard and record query
```
```
Heroku
```

## Practice Problems

Installing The Package

In [24]:
import sqlalchemy as db

In [2]:
import openaq

In [44]:
import pandas as pd

In [45]:
dir(openaq)

['API',
 'ApiError',
 'OpenAQ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'decorators',
 'exceptions',
 'get_distribution',
 'json',
 'math',
 'pandasize',
 'requests',
 'utils']

In [46]:
api = openaq.OpenAQ()

In [127]:
resp = api.cities(df=True, limit=10000)

In [129]:
resp.head()

                 city  count country  locations                name
0  Escaldes-Engordany  89835      AD          2  Escaldes-Engordany
1              unused   7667      AD          1              unused
2           Abu Dhabi  27856      AE          1           Abu Dhabi
3               Dubai  20800      AE          1               Dubai
4                 N/A   1159      AE          2                 N/A

In [48]:
locations = api.locations(df=True,limit=10000)

In [49]:
locations.describe()

       coordinates.latitude  coordinates.longitude         count
count          10000.000000           10000.000000  1.000000e+04
mean              37.849469             -10.910934  4.603008e+04
std               16.348822              82.789559  1.760065e+05
min              -72.011700            -161.767000  1.000000e+00
25%               34.275800             -93.673425  5.084250e+03
50%               40.220135               2.484440  2.395350e+04
75%               47.692080              30.015963  4.734525e+04
max               78.906690             153.402400  4.798650e+06

Connecting to a database
```
```
To start interacting with the database we first we need to establish a connection.Some examples of connecting to various databases can be found here https://docs.sqlalchemy.org/en/13/core/engines.html#postgresql

In [82]:
from sqlalchemy import orm
from sqlalchemy import create_engine

In [104]:
engine = create_engine('sqlite:///cities', echo=True)

In [105]:
resp.to_sql("cities",con=engine, if_exists='replace')

2019-11-15 00:48:40,685 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-15 00:48:40,686 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:48:40,687 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-15 00:48:40,688 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:48:40,690 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cities")
2019-11-15 00:48:40,691 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:48:40,695 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cities (
	"index" BIGINT,
	city TEXT,
	count BIGINT,
	country TEXT,
	locations BIGINT,
	name TEXT
)


2019-11-15 00:48:40,696 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:48:40,699 INFO sqlalchemy.engine.base.Engine COMMIT
2019-11-15 00:48:40,701 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_cities_index ON cities ("index")
2019-11-15 00:48:40,702 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:48:40,710 INFO sqlalchemy.engine.base.Engine COMMIT
2019-11-15 00:48:40,717 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-15 00:48:40,745 INFO sqlalchemy.engine.base.Engine INSERT INTO cities ("index", city, count, country, locations, name) VALUES (?, ?, ?, ?, ?, ?)
2019-11-15 00:48:40,746 INFO sqlalchemy.engine.base.Engine ((0, 'Escaldes-Engordany', 89835, 'AD', 2, 'Escaldes-Engordany'), (1, 'unused', 7667, 'AD', 1, 'unused'), (2, 'Abu Dhabi', 27856, 'AE', 1, 'Abu Dhabi'), (3, 'Dubai', 20800, 'AE', 1, 'Dubai'), (4, 'N/A', 1159, 'AE', 2, 'N/A'), (5, 'Kabul', 532, 'AF', 1, 'Kabul'), (6, 'N/A', 328, 'AF', 1, 'N/A'), (7, 'Buenos Aires', 14976, 'AR', 4, 'Buenos Aires')  ... displaying 10 of 2790 total bound parameter sets ...  (2788, 'Prizren', 32682, 'XK', 1, 'Prizren'), (2789, 'Richards Bay', 239159, 'ZA', 3, 'Richards Bay'))
2019-11-15 00:48:40,759 INFO sqlalchemy.engine.base.Engine COMMIT

# Viewing Table

In [106]:
engine.execute('Select * FROM cities').fetchone()

2019-11-15 00:48:55,855 INFO sqlalchemy.engine.base.Engine Select * FROM cities
2019-11-15 00:48:55,857 INFO sqlalchemy.engine.base.Engine ()

(0, 'Escaldes-Engordany', 89835, 'AD', 2, 'Escaldes-Engordany')

In [108]:
engine2 = db.create_engine('sqlite:///cities')

In [109]:
connection = engine.connect()
metadata = db.MetaData()
cities = db.Table('cities', metadata, autoload=True, autoload_with=engine)

2019-11-15 00:51:00,644 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cities")
2019-11-15 00:51:00,645 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,647 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'cities' AND type = 'table'
2019-11-15 00:51:00,648 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,650 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("cities")
2019-11-15 00:51:00,650 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,652 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'cities' AND type = 'table'
2019-11-15 00:51:00,653 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,655 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("cities")
2019-11-15 00:51:00,656 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,658 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_cities_index")
2019-11-15 00:51:00,658 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,660 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("cities")
2019-11-15 00:51:00,661 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,663 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_cities_index")
2019-11-15 00:51:00,664 INFO sqlalchemy.engine.base.Engine ()
2019-11-15 00:51:00,665 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'cities' AND type = 'table'
2019-11-15 00:51:00,667 INFO sqlalchemy.engine.base.Engine ()

In [112]:
print(cities.columns.keys())

['index', 'city', 'count', 'country', 'locations', 'name']

In [115]:
print(repr(metadata.tables['cities']))

Table('cities', MetaData(bind=None), Column('index', BIGINT(), table=<cities>), Column('city', TEXT(), table=<cities>), Column('count', BIGINT(), table=<cities>), Column('country', TEXT(), table=<cities>), Column('locations', BIGINT(), table=<cities>), Column('name', TEXT(), table=<cities>), schema=None)

In [118]:
cities

Table('cities', MetaData(bind=None), Column('index', BIGINT(), table=<cities>), Column('city', TEXT(), table=<cities>), Column('count', BIGINT(), table=<cities>), Column('country', TEXT(), table=<cities>), Column('locations', BIGINT(), table=<cities>), Column('name', TEXT(), table=<cities>), schema=None)

In [120]:
query = db.select([cities])

In [121]:
ResultProxy = connection.execute(query)

2019-11-15 01:01:22,336 INFO sqlalchemy.engine.base.Engine SELECT cities."index", cities.city, cities.count, cities.country, cities.locations, cities.name
FROM cities
2019-11-15 01:01:22,337 INFO sqlalchemy.engine.base.Engine ()

In [122]:
ResultSet = ResultProxy.fetchall()

In [126]:
ResultSet[:3]

[(0, 'Escaldes-Engordany', 89835, 'AD', 2, 'Escaldes-Engordany'),
 (1, 'unused', 7667, 'AD', 1, 'unused'),
 (2, 'Abu Dhabi', 27856, 'AE', 1, 'Abu Dhabi')]

In [140]:
query2 = db.select([cities]).where(cities.columns.city == "Dubai")

In [141]:
ResultProxy = connection.execute(query2)

2019-11-15 10:15:38,565 INFO sqlalchemy.engine.base.Engine SELECT cities."index", cities.city, cities.count, cities.country, cities.locations, cities.name
FROM cities
WHERE cities.city = ?
2019-11-15 10:15:38,567 INFO sqlalchemy.engine.base.Engine ('Dubai',)

In [142]:
ResultProxy.fetchall()

[(3, 'Dubai', 20800, 'AE', 1, 'Dubai')]

In [133]:
cities.columns.city

Column('city', TEXT(), table=<cities>)

# Attempt to use as Sqlalchemy ORM

In [75]:
Session = orm.sessionmaker(bind='dest_db_con')

session = Session()

In [117]:
pd.io.sql.get_schema(resp, 'Resp')

'CREATE TABLE "Resp" (\n"city" TEXT,\n  "count" INTEGER,\n  "country" TEXT,\n  "locations" INTEGER,\n  "name" TEXT\n)'

In [75]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

In [116]:
# class Resp(db.Model):
#     __tablename__ = 'Resp'
#     city = Column(Text, primary_key=True)
#     count = Column(Integer)
#     country = Column(Text)
#     locations = Column(Integer)
#     name = Column(Text)


# Resp = Table(
#    'resp', meta, 
#     Column('id', Integer, primary_key = True), 
#     Column('city', String),
#     Column('count', Integer),
#     Column('country', String), 
#     Column('locations', Integer),
#     Column('name', String),
# )

session.bulk_insert_mappings(cities,resp.to_dict(orient="resp"))
session.close()

AttributeError: 'Table' object has no attribute 'mapper'

# Sample Code - See Above for working version of ORM

Viewing Table Details
```
```
SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information.

# Not Sure how to utilize the below

In [ ]:
#for example

import sqlalchemy as db

engine = db.create_engine('sqlite:///census.sqlite')
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('census', metadata, autoload=True, autoload_with=engine)

In [10]:
# Print the column names
print(census.columns.keys())
# ['state', 'sex', 'age', 'pop2000', 'pop2008']

[]

In [ ]:
# # Print full table metadata
# print(repr(metadata.tables['census']))

https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91